
<% include partials/header %>
<h1>This is the home page!</h1>
<img src="http://newlaunches.com/wp-content/uploads/2013/07/google-glass-dog-590x393.jpg" >
<% include partials/footer %>


















